/* MAIN */

body {
    background-image:url(images/gmbg.jpg)!important;
    background-size: 306px 306px;
    width: 100%;
    height: 100%;
    overflow-x:hidden;
    overflow-y:auto;
    font-family:monospace !important;
}

header {
    width:100%;
    height:22vh;
    background:linear-gradient(rebeccapurple,#c9c0e8);
    text-align: center;
}

#headerimg  {
    height:20vh;
}

.content {
    width:fit-content;
    min-width: 70%;
    max-width: 85%;
    margin:0 auto;
    padding:0.5em;
    margin-bottom:0.5em;
    margin-top:0.5em;
    overflow-x:hidden;
    overflow-y:hidden;
    min-height: 80vh;
    border-radius:10px;
    background-color: rebeccapurple;
    opacity: 85%;
}

footer {
    text-align: center;
    color: #c9c0e8;
    opacity: 70%;
    position:relative;
    bottom:0;
    width:100%;
    height:2em;
}

.fpimg {
    box-shadow: 5px 5px purple;
    border-radius: 30%;
    margin:15px;
}

@media only screen and (max-width:991px){
    .fpimg {
        width:50vw;
        height:50vw;
    }
}

@media only screen and (min-width:1300px){
    .fpimg {
        width:497.5px;
        height:497.5px;
    }
}

@media only screen and (max-width:1300px) and (min-width:991px){
    .fpimg {
        width:35vw;
        height:35vw;
    }
}


#gmap {
    width:49vw;
    height:30vw;
}


/*TEXT*/

h1 {
    text-align: center;
    color: #c9c0e8 !important; 
    font-weight: bolder !important;
}

@media screen and (max-width:995px) {
    h1 {
        font-size: 5vw !important;
    }
    
}


@media screen and (min-width: 995px) {
    h1 {
        font-size: 3.10625rem !important;
    }
    
}

p {
    text-align: center;
    color: #c9c0e8 !important;
    padding:5px;
}

/*ROWS AND COLUMNS*/

.col-lg-6 {
    text-align: center;
}

.col-lg-12 {
    text-align: center;
}

.taller {
    min-height:100vh !important;
}


/*NAV*/

#navbar1, #navbar2, #navbar3 {
    width:100%;
    height:4em;
}

#menu {
    border-radius:0 !important;
    height:4em;
    width: 12em;
    color:rebeccapurple !important;
    background-color:#c9c0e8 !important;
    border:none !important;
    box-shadow: none !important;
    font-weight: bolder !important;
}

#menu:hover {
    border:none !important;
    background-color:#9a6cbd !important;
    transition: 0.5s;
}

.navbar3 {
    position:relative;
    background-color:#c9c0e8 !important;
}

.navbar1 {
    position:absolute;
    top:0;
    left:0;
    z-index: 1;
    background-color:#c9c0e8 !important;
    font-weight: bolder !important;
}

.navbar2 {
    position:absolute;
    top:0;
    left:0;
    z-index: 2;
    background-color:#c9c0e8 !important;
}

.nav-link {
    height: 4em;
    width: 12em;
    text-align: center;
    padding-top: 1.1em !important;
    color:rebeccapurple !important;
}

.nav-link:hover {
    display:block;
    background-color: #9a6cbd;
    height: 4em;
    transition: 0.5s;
}

@media only screen and (max-width:995px){
    .navbar1 {
        visibility: hidden;
    }

    .navbar2 {
        visibility: visible;
    }
}

@media only screen and (min-width:995px){
    .navbar1 {
        visibility: visible;
    }

    .navbar2 {
        visibility: hidden;
    }
}

.dropdowncontent {
    position:absolute;
    overflow:hidden;
    display:none;
    z-index: 1;
    text-align: center;
    border:none !important;
}

.dropdowncontent a {
    padding:0.5em;
    text-decoration: none;
    display:block;
    left:auto;
    overflow:hidden;
    width: 12em;
}

.dropdowncontent a:hover {
    background-color: #9a6cbd !important;
    transition: 0.5s !important;
}

.show {
    display:block;
}

.btn-drp {
    border-radius:0 !important;
    color:rebeccapurple !important;
    background-color:#c9c0e8 !important;
    border:none !important;
    font-weight: bolder !important;
    height: 4em;
    padding-top: 1.1em !important;
}
